apiVersion: v1
kind: Service
metadata:
  name: auth-service
  namespace: notes-app
spec:
  type: ClusterIP   
  selector:
    app: auth
  ports:
    - name: http
      port: 5000
      targetPort: 5000
